body{
	font-family: Verdana;
	font-size: 18px;
	margin: 0px auto;
	font-style: normal;
	background: #fff;
	color: #073663;
}

.info-contact{
	display: inline;
}

#heading {
	background-color: #A8D4FF;
	font-size: 14px;
}

#menu_top{
	height: 50px;
	color: #1a4976;
}

#wrapper {
	overflow: hidden;
}

#main {
	padding: 50px;
}
#main #introduction{
	background: #ebffff;
	height: : auto;
	width: : auto;
	padding: 50px;
}
#main #introduction{
	text-align: justify;
}
.title-related-post{
	background: #e5f4f9;
}
#main #addressTour #place{
	color: #0d3e6d;
}
#main #foodTour{
	background: #d8ffff;
}
.main{
	font-size: 13px;
	text-align: justify;
}
#foot{
	background: #449ade;
	height: 60px;
	width: auto;
	text-align: center;
	color: blue;
	clear: left;
}

.wrapper .help {
	margin-top: 3px;
	font-size: 10px;
	color: #404040;
}
.wrapper .help p{
	margin: 0;
}
.wrapper .img-responsive{
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 5px;
}

#menu_top ul {
	margin: 0px;
	padding: 0px;
	float: left;
}
#menu_top ul li {
	list-style: none;
	float: left;
	padding: 10px;
}
#menu_top ul li a {
	text-decoration: none;
	display: block;	
	color: rgba(61,61,61,0.69);
	border-right: 1px solid #f1f1f1;
	padding-right: 10px;
	unicode-bidi: bidi-override;
}

.row1{
	background-color: #f2ffff;
}
#introduction p,
#addressTour #foodTour .row p{
	text-align: justify;
}
.place {
	background-color: #71d6fb;
}

#main {
	text-align: center;
	border-right: 1px solid #f1f1f1;
}
.img-main-introduce{
	padding: 20px 70px 20px  ;
	height: 300px;
	width: 500px;
}
h3 {
	text-align: center;
	color: #67aded;
}

h4{
	text-align: center;
	color: #4787c4;
}
.img-main-about{
	height: 400px;
	width: 700px;
	padding: 30px;
}
#food p{
	font-size: 11px;
	font-weight: bold;
	background-color: pink;
}

a{
	color: black;
	background-color: transparent;
	text-decoration: none;
}

.banner-img {
	width: 100%;
	min-height: 325px;
	max-height: 340px;
	border-radius: 4px;
}

.list-main-title{
	background-color: #0001;
}

.bg-banner{
	background-image: url("../image/bg-banner-home.png");
	background-size: cover;
	padding:  20px 0px;
	min-height: 430px;

}

.bg-banner.list-group{
	min-height: unset;
}

.bg-banner.list-group li{
	background-color: transparent;
}

.news h6{
	font-size: 16px;
	color: #fff;
	padding: 12px;
	font-weight: 800;
	text-align: center;
}

.news ul li {
	margin-bottom: 10px;
	padding: 0.5rem 0.5rem !important;
}

.place-related p{
	padding: 0px;
	font-size: 11px;
}
.row .place-related p {
    padding: 0px;
    font-size: 12px;
}
.img-fluid {
    max-width: 100%;
    height: 100px;
    border-radius: 13px;
}
#introduction .img-fluid{
	max-width: 100%;
    height: 300px;
    border-radius: 15px;
    padding: 10px;
}
 
#place .img-fluid{
	max-width: 100%;
    height: 100px;
    border-radius: 10px;
}
.tour #place .img-fluid{
	max-width: 100%;
    height: 70px;
    border-radius: 10px;
}
#main .img-main-introduce{
	max-width: 100%;
    height: auto;
}
/*.place-related img{
	height: 100px;
	border-radius: 7px;
}*/

.frame{
	width: 100%;
	height: 170px;
	border-radius: 13px;
}

.tour-related-img{
	width: 100%;
	height: 65px;
}

.text-btn{
	background-color: transparent;
	    border: none;
    font-size: 14px;
    font-weight: 600;
}

.bootstrap-datetimepicker-widget.dropdown-menu{
	    width: 17rem;
}
@media (min-width: 1200px) { ... }

@media (min-width: 992px) and (max-width: 1199.98px) {
	#introduction .row .col-md-6,
	#introduction .row .col-md-12{
		font-size: 15px;
	}

	.img-main-about{
		width: 100%;
		height: auto;
		padding: 16px 0px;
	}

	.place-related .col-sm-12.col-md-6{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.place-related img {
		height: 140px;
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.news h6 {
		font-size: 14px;
		padding: 0px; 
	}
	#introduction .row .col-md-6,
	.place-related .col-sm-12.col-md-6{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.place-related img {
		height: 100px;
		width: 100%;
	}

	.place-wrap-main .col-sm-12.col-md-4 .frame,
	.food-wrap-main .col-sm-12.col-md-4 .frame{
		max-height: unset;
		min-height: unset;
		max-width: unset;
		min-width: unset;
		height: 150px;
		width: 100%;
	}
	.img-main-introduce{
		width: 100%;
		height:  auto;
		padding: 0px 16px;
		margin:16px 0px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.banner-img{
		max-height: unset;
		min-height: unset;
		height: 265px;
		width: 100%;
		margin-top: 20px;
	}
	.place-related .col-sm-12.col-md-6,
	.place-wrap-main .col-sm-12.col-md-4,
	.food-wrap-main .col-sm-12.col-md-4{
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.place-related img {
		height: 175px;
		width: 100%;
	}

	.place-wrap-main .col-sm-12.col-md-4 .frame,
	.food-wrap-main .col-sm-12.col-md-4 .frame{
		max-height: unset;
		min-height: unset;
		max-width: unset;
		min-width: unset;
		height: 160px;
		width: 100%;
	}
}

@media (max-width: 575.98px) {
	.banner-img{
		max-height: unset;
		min-height: unset;
		height: 210px;
		width: 100%;
		margin-top: 20px;
	}

	#main{
		padding: 0px 16px;
	}

	.img-main-introduce{
		width: 100%;
		height: auto;
		padding: 0px;
		margin: 15px 0px;
	}

	.place-related .col-sm-12.col-md-6,
	.place-wrap-main .col-sm-12.col-md-4,
	.food-wrap-main .col-sm-12.col-md-4{
		width: 50%;
	}

	.img-main-about{
		width: 100%;
		height: auto;
		padding: 0px;
	}

	.place-wrap-main .col-sm-12.col-md-4 .frame,
	.food-wrap-main .col-sm-12.col-md-4 .frame{
		max-height: unset;
		min-height: unset;
		max-width: unset;
		min-width: unset;
		width: 100%;
		height: 100px;
	}

	.place-wrap-main .col-sm-12.col-md-4 p,
	.food-wrap-main .col-sm-12.col-md-4 p{
		font-size: 15px;
	}

}

@media (max-width: 320px) {
	.banner-img{
		height: 165px;
	}

	#food p{
		font-size: 10px;
	}
}

ul li{Ơ
}
